[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
bs4 = "*"
requests-file = "*"
torch = "*"
transformers = "*"
validators = "*"
timm = "*"
gradio = "*"
sqlalchemy = "*"
pydantic = "*"
easyocr = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.11"
